[submodule "Work-Normal-Corporation-Altium-Components"]
	path = Work-Normal-Corporation-Altium-Components
	url = git@github.com:XiaoKChen/Work-Normal-Corporation-Altium-Compoents.git
	branch = version/A7
